.metadata
RemoteSystemsTempFiles
StrategyPattern/Release
AbstractFactoryPattern/Release
FactoryMethodPattern/Release
SingletonPattern/Release
DecoratorPattern/Release
ObserverPattern/Release
SimpleFactoryPattern/Release


